.row
  %div{"ng-repeat"=>"project in projects"}
    .list-panel.panel.panel-primary{:id => "{{project.id}}"}
      .panel-heading.clearfix
        .pull-left
          %span.icon.glyphicon.glyphicon-list-alt.pointer{ "aria-hidden" => "true" }
        .pull-left
          %h3{ :title => "{{project.description}}" }
            = "{{project.title}}"
        .pull-right
          %span.icon-right.glyphicon.glyphicon-pencil.pointer{ "aria-hidden" => "true" }
          |
          %span.icon-right.glyphicon.glyphicon-trash.pointer{ "ng-click" => "destroyProject(project)", "aria-hidden" => "true", :title => "Delete project" }
      #panel-body.panel-body
        #inherit-panel-second.panel.panel-default
          #inherit-panel-heading.panel-heading.clearfix
            .pull-left
              %span.glyphicon.glyphicon-plus{"aria-hidden" => "true"}
            .input-group
              %input{class: "form-control", id: "task-input", placeholder: "Write something..."}
              .input-group-btn
                .btn.btn-success
                  Add Task
          .panel-body
            .table-responsive
              %table.table.table-hover
                %tbody
                  %tr{"ng-repeat" => "task in project.tasks"}
                    %td{:colspan => "5"}
                      %input{:type => "checkbox"}
                      %strong.task
                        {{task.content}}
                      .well.well-sm.comments{"ng-repeat" => "comment in task.comments"}
                        {{comment.content}}
                        %span.glyphicon.glyphicon-remove.pointer{"ng-click" => "destroyComment(project,task,comment)" ,"aria-hidden" => "true",:title => "Remove comment"  }
                    %td{:colspan => "2"}
                      .pull-right
                        %span.icon-task.glyphicon.glyphicon-comment.pointer{ "aria-hidden" => "true",:title => "Add comment"  }
                        %span.icon-task.glyphicon.glyphicon-calendar.pointer{ "aria-hidden" => "true",:title => "Calendar"  }
                        %span.icon-task.glyphicon.glyphicon-trash.pointer{"ng-click" => "destroyTask(project,task)","aria-hidden" => "true",:title => "Delete task"  }
  #create_list.text-center
    .btn.btn-primary.btn-lg
      %span.glyphicon.glyphicon-plus{"aria-hidden" => "true"}
      Add TODO list